<h1>TATask manager</h1>
<%= link_to  "new task", new_task_path %>
<table border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <td>title</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%=link_to task.title, task_path(task) %></td>
      <td><%=button_to 'x', task_path(task),data: {:confirm => 'Are you sure?'}, method: :delete%></td>
    </tr>
    <%end%>
  </tbody> 
</table>