  <div class="row justify-content-md-center">
    <div class="col-4">
      <div class="card mt-5">
        <div class="card-header text-center">
          會員資訊
        </div>
        <div class="card-body">
          <p><%= t('views.user.name')%>: <%= @user.name%></p>          
          <p><%= t('views.user.email')%>: <%= @user.email%></p>          
        </div>
      </div>
    </div>
  </div>


